<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="br.corp.bonus630.plugin.Repeater.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <br.corp.bonus630.plugin.Repeater.Properties.Settings1>
            <setting name="QrFormatVector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Increment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mask" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="FitToPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Starty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gap" serializeAs="String">
                <value>0</value>
            </setting>
        </br.corp.bonus630.plugin.Repeater.Properties.Settings1>
    </userSettings>
</configuration>